//Bulma
@import "~bulma/bulma.sass";

body,
html {
    background-color: #4E3759;
    margin: 0;
    padding: 0;
}

a {
    outline: none;
}

#app {
    margin-top: 40px;
    margin-bottom: 40px;
}

.task-list .title {
    margin: 1rem 0;
}

.check {
    color: #ff3860;
}

.done {
    color: #22c65b;
}

.check:active,
.done:active {
    border: none;
}

.done:hover {
    color: #22c65b;
}